html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #d6e2f0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 7%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5%;
  background-color: #ffffff;
}
.main-container .qr-container {
  flex-basis: 1;
}
.main-container .qr-container img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.qr-navigate-container {
  flex-basis: 1;
  padding: 1%;
  font-family: "Outfit", sans-serif;
}
.qr-navigate-container h2 {
  font-size: 18px;
  font-weight: 700;
}
.qr-navigate-container p {
  font-size: 14px;
  margin-top: 5%;
  font-weight: 400;
  color: #7b879d;
  text-indent: 4px;
  text-align: center;
}

@media screen and (min-width: 1279px) {
  .main-container {
    width: 25%;
     
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 0;
  }
  .qr-navigate-container p {
    padding: 0;
  }
  .qr-navigate-container {
    padding:1%;
  }
  .qr-navigate-container h2 {
    font-size: 21px;
  }
}
